<?xml version="1.0"?>
<ruleset name="Coding Standard">
    <description>Coding Standard</description>

    <!-- display progress -->
    <arg value="p"/>
    <arg name="colors"/>
    <arg name="extensions" value="php,dist,phtml"/>

    <!-- inherit rules from: -->
    <rule ref="PSR12"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.Formatting.SpaceAfterNot"/>
    <rule ref="Squiz.WhiteSpace.OperatorSpacing">
        <properties>
            <property name="ignoreNewlines" value="true"/>
        </properties>
    </rule>
    <rule ref="Squiz.WhiteSpace.SuperfluousWhitespace">
        <properties>
            <property name="ignoreBlankLines" value="false"/>
        </properties>
    </rule>
    <rule ref="PSR1.Files.SideEffects">
        <exclude-pattern>public/index.php</exclude-pattern>
        <exclude-pattern>public/index2.php</exclude-pattern>
    </rule>
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="128"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>
    <!-- Paths to check -->
    <file>Module2/Unit2/src</file>
    <file>Module2/Unit2/config</file>
    <file>Module2/Unit2/bin</file>
    <file>Module2/Unit2/public/index2.php</file>

</ruleset>